@model AI.Models.UserInfoVM

@{
    ViewBag.Title = "ViewProfile";
}

<div class="bs-callout bs-callout-primary">
    <div>
        <img class="img-responsive img-thumbnail profile-picture" src=@Url.Action("GetProfilePicture", "Profile", new { id = Model.ImageID })>
    </div>
    <div class="list-group">
        <div class="list-group-item">@Model.Title @Model.FirstName @Model.LastName 'profile</div>
        @if (Model.Rank != null)
        {
            <div class="list-group-item">@Model.Rank</div>
        }
        @if (Model.CurrentInsitution != null)
        {
            <div class="list-group-item">Currently Working Institution: @Model.CurrentInsitution</div>
        }
        @if (Model.InterestAreas != null)
        {
            <div class="list-group-item">Interest Areas: @Model.InterestAreas</div>
        }
        @if(Model.Nationality != null)
        {
            <div class="list-group-item">Nationality: @Model.Nationality</div>
        }
        @if (Model.ContactEmail != null)
        {
            <div class="list-group-item">Contact @Model.FirstName at: @Model.ContactEmail</div>
        }
    </div>
    
</div>
@if (Model.EducationList.Count() > 0)
{
    <div class="bs-callout bs-callout-primary">
        <h3>Education</h3>
        @foreach (var item in Model.EducationList)
        {
            <div>@item.Institution</div>
        }
    </div>
}
@if (Model.Publications.Count() > 0)
{
    <div>
        <h3>Publications</h3>
       @if (Model.Publications.Count > 0)
       {
           var currentYear = Model.Publications.First().PublicationDate;

        <div><b>@currentYear</b></div>
           foreach (var publication in Model.Publications)
           {
               if (currentYear != publication.PublicationDate)
               {
                   currentYear = publication.PublicationDate;
                <div><b>@currentYear</b></div>
               }

            <div class="col-md-12 bs-callout bs-callout-primary">
                <div>
                    <p>
                        <small class="category">Category: @publication.Category</small>
                    </p>
                    <div>
                        <b>@publication.Authors. </b>
                        <i>@(publication.Title != null ? publication.Title + ". " : string.Empty)</i>
                        <i>@(publication.Book != null ? publication.Book + ". " : string.Empty)</i>
                        <i>@(publication.Conference != null ? publication.Conference + ", " : string.Empty)</i>
                        <i>@(publication.Journal != null ? publication.Journal + ", " : string.Empty)</i>
                        @(publication.ApplicationNumber != null ? "Application Number " + publication.ApplicationNumber + ", " : string.Empty)
                        @(publication.Volume != null ? "Volume " + publication.Volume + ", " : string.Empty)
                        @(publication.Issue != null ? "Issue " + publication.Issue + ", " : string.Empty)
                        @(publication.PatentNumber != null ? "Patent Numer " + publication.PatentNumber + ", " : string.Empty)
                        @(publication.PatentOffice != null ? "Patent Office " + publication.PatentOffice + ", " : string.Empty)
                        @(publication.Pages != null ? "Pages " + publication.Pages + ", " : string.Empty)
                        @(publication.Publisher != null ? publication.Publisher + ", " : string.Empty)
                        @(publication.Source != null ? "Source " + publication.Source + ", " : string.Empty)
                        @(publication.PublicationDate != null ? publication.PublicationDate + ". " : string.Empty)

                    </div>

                </div>
                <div>
                    @if (publication.ImageName != null)
                    {
                        <div class="pull-right">
                            <img style="max-height : 200px; max-width : 200px;" src=@Url.Action("GetImage", "Home", new { fileName = publication.ImageName })>
                        </div>
                    }
                </div>
                @if (publication.Abstract != null)
                {
                    <br />
                    <div>
                        <p>Abstract</p>
                        @publication.Abstract
                    </div>
                }
                @if (publication.Link != null)
                {
                    <p>More at <a href="@publication.Link" target="_blank">@(publication.LinkText != null ? publication.LinkText : publication.Link)</a></p>
                }

                @if (publication.KeyWordsList.Count > 0)
                {
                    <p>
                        <small>Tags:</small>
                        @foreach (var key in publication.KeyWordsList)
                        {
                            <span class="label ai-label">@key</span>
                        }
                    </p>
                }


                @if (publication.UploadName != null)
                {
                    <span>
                        <i class="fa fa-download"></i>
                        <a href='@Path.Combine("/uploads", publication.UploadName)' target="_blank">Download</a>
                    </span>
                }
                <small class="post-date pull-right">
                    <i class="fa fa-clock-o"></i>
                    <span class="from-now" data-time="@Convert.ToDateTime(publication.CreationDate).ToString("yyyy-MM-dd HH':'mm':'ss")"></span>
                </small>
            </div>
           }
       }
    </div>
}
@if (Model.Software.Count() > 0)
{
    <h3>Software</h3>
    foreach (var item in Model.Software)
    {
        <div class="col-md-12 bs-callout bs-callout-primary">
            <div><b>@(item.Title != null ? item.Title : string.Empty)</b></div>
            <div>Authors: @item.Authors </div>
            <div>
                @if (item.ImageName != null)
                {
                    <div class="pull-right">
                        <img style="max-height : 200px; max-width : 200px;" src=@Url.Action("GetImage", "Home", new { fileName = item.ImageName })>
                    </div>
                }
            </div>
            @if (item.Description != null)
                    { <br />
                    <div>
                        <p>Description</p>
                        @item.Description
                    </div>
            }
            @if (item.Link != null)
                    {
                <p><a href="@item.Link" target="_blank">@(item.LinkText != null ? item.LinkText : item.Link)</a></p>
            }


            @if (item.UploadName != null)
                    {
                <span>
                    <i class="fa fa-download"></i>
                    <a href='@Path.Combine("/uploads", item.UploadName)' target="_blank">Download</a>
                </span>
            }
            <small class="post-date pull-right">
                <i class="fa fa-clock-o"></i>
                <span class="from-now" data-time="@Convert.ToDateTime(item.CreationDate).ToString("yyyy-MM-dd HH':'mm':'ss")"></span>
            </small>
        </div>
    }
}

@if (Model.Datasets.Count() > 0)
{
    <h3>Datasets</h3>
    foreach (var item in Model.Datasets)
    {
        <div class="col-md-12 bs-callout bs-callout-primary">
            <div><b>@(item.Title != null ? item.Title : string.Empty)</b></div>
            <div>Authors: @item.Authors </div>
            <div>
                @if (item.ImageName != null)
                {
                    <div class="pull-right">
                        <img style="max-height : 200px; max-width : 200px;" src=@Url.Action("GetImage", "Home", new { fileName = item.ImageName })>
                    </div>
                }
            </div>
            @if (item.Description != null)
                    { <br />
                    <div>
                        <p>Description</p>
                        @item.Description
                    </div>
            }
            @if (item.Link != null)
                    {
                <p><a href="@item.Link" target="_blank">@(item.LinkText != null ? item.LinkText : item.Link)</a></p>
            }


            @if (item.UploadName != null)
                    {
                <span>
                    <i class="fa fa-download"></i>
                    <a href='@Path.Combine("/uploads", item.UploadName)' target="_blank">Download</a>
                </span>
            }
            <small class="post-date pull-right">
                <i class="fa fa-clock-o"></i>
                <span class="from-now" data-time="@Convert.ToDateTime(item.CreationDate).ToString("yyyy-MM-dd HH':'mm':'ss")"></span>
            </small>
        </div>
    }
}