@model AI.Models.PublicationsVM

@{
    ViewBag.Title = "Publications";
}
<div id="publication-content-big">
    <div class="row publication-header">
        <h3 class="col-md-8">Publications
            @if (!Model.SearchText.IsEmpty())
            {
                <div class="btn btn-default">@Model.SearchText <i class="fa fa-times" id="remove-filters"></i></div>
            }
        </h3>
        
        <div class="col-md-4 ai-vertical-align">
            <input placeholder="Search publications..." id="in-search-publications" class="col-md-9 ai-search-box" />
            <div class="col-md-3 ai-search-icon" id="btn-search-publications"><i style="color: white;" class="fa fa-search ai-vertical-align"></i></div>
        </div>
    </div>

    <div id="publication-content">
        @if (Model.Publications.Count > 0)
        {
            var currentYear = Model.Publications.First().PublicationDate;

         <div><b>@currentYear</b></div>
            foreach (var publication in Model.Publications)
            {
                if (currentYear != publication.PublicationDate)
                {
                    currentYear = publication.PublicationDate;
                    <div><b>@currentYear</b></div>
                }

            <div class="col-md-12 bs-callout bs-callout-primary publication-box">
                <div>
                    @if (Session.CurrentUser != null && (Session.CurrentUser.IsAdmin || publication.UserID == Session.CurrentUser.UserID))
                    {
                        @Html.HiddenFor(model => publication.PublicationID)
                        <small>
                            <i class="fa fa-trash fa-2x pull-right remove-publication" data-id=@publication.PublicationID></i>
                        </small>
                        <small>
                            <a href="@Url.Action("UpdatePublication", "Profile", new { publicationId = @publication.PublicationID })"><i class="fa fa-pencil-square fa-2x pull-right edit-publication" data-id="@publication.PublicationID"></i></a>
                        </small>
                        <div class="modal fade delete-publication-modal" data-backdrop="true" role="dialog">
                            <div class="modal-dialog modal-sm">
                                <div class="col-md-3"></div>
                                <div class="modal-content modal-confirm col-md-6">
                                    <!-- dialog body -->
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <div class="text-center">Do you want to permanently delete this item?</div>
                                    </div>
                                    <!-- dialog buttons -->
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" class="btn ai-btn-warning">CANCEL</button>
                                        <button type="submit" data-dismiss="modal" class="btn ai-btn-default delete-publication" data-id="@publication.PublicationID">OK</button>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                        </div>
                    }
                    <p>
                        <small class="category">Category: @publication.Category</small>
                    </p>
                    <div>
                         @publication.Authors.
                        <i>@(publication.Title != null ? publication.Title + ". " : string.Empty)</i>
                        <i>@(publication.Book != null ? publication.Book + ". " : string.Empty)</i>
                        <i>@(publication.Conference != null ? publication.Conference + ", " : string.Empty)</i>
                        <i>@(publication.Journal != null ? publication.Journal + ", " : string.Empty)</i>
                        @(publication.ApplicationNumber != null ? "Application Number " + publication.ApplicationNumber + ", " : string.Empty)
                        @(publication.Volume != null ? "Volume " + publication.Volume + ", " : string.Empty)
                        @(publication.Issue != null ? "Issue " + publication.Issue + ", " : string.Empty) 
                        @(publication.PatentNumber != null ? "Patent Numer " + publication.PatentNumber + ", " : string.Empty)
                        @(publication.PatentOffice != null ? "Patent Office " + publication.PatentOffice + ", " : string.Empty)
                        @(publication.Pages != null ? "Pages " + publication.Pages + ", " : string.Empty)
                        @(publication.Publisher != null ? publication.Publisher + ", " : string.Empty)
                        @(publication.Source != null ? "Source " + publication.Source + ", " : string.Empty)
                        @(publication.PublicationDate != null ? publication.PublicationDate + ". " : string.Empty)
                        
                    </div>

                </div>
                <div>
                    @if (publication.ImageName != null && publication.ImageName != string.Empty)
                    {
                        <div class="pull-right">
                            <img style="max-height : 180px; max-width : 200px;" src=@Url.Action("GetImage", "Home", new { fileName = publication.ImageName })>
                        </div>
                    }
                </div>
                @if (publication.Abstract != null)
                {
                    <br/>
                    <div>
                        <p>Abstract</p>
                        @publication.Abstract
                    </div>
                }
                @if (publication.Link != null)
                {
                    <p><a href="@publication.Link" target="_blank">@(publication.LinkText != null ? publication.LinkText : publication.Link)</a></p>
                }
                
                    @if (publication.KeyWordsList.Count > 0)
                    {
                        <p>
                            <small>Tags:</small>
                        @foreach (var key in publication.KeyWordsList)
                        {
                            <span class="label ai-label">@key</span>
                        }
                        </p>
                    }
                

                @if (publication.UploadName != null)
                {
                    <span> 
                        <i class="fa fa-download"></i> 
                        <a href='@Path.Combine("/uploads", publication.UploadName)' target="_blank">Download</a>
                    </span>
                }
                <div class="clearfix col-md-12"> 
                    <small class="post-date pull-right">
                        <i class="fa fa-clock-o"></i>
                        <span class="from-now" data-time="@Convert.ToDateTime(publication.CreationDate).ToString("yyyy-MM-dd HH':'mm':'ss")"></span>
                    </small>
                </div>
            </div>
        }
        }
    </div>
</div>
<script>
    var urlSearchPublications = "@Url.Action("Publications","Home")"
    var urlDeletePublication = "@Url.Action("DeletePublication","Profile")"
</script>